.carousel-page-shell {
  @include custom-layout-content(column, 500px);
  > .carousel-page-image-box,
  .carousel-page-operation-btn,
  .carousel-page-bottom-bar {
    width: 100%;
  }

  > .carousel-page-operation-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  > .carousel-page-bottom-bar {
    @include horizontally-vertically-center;
    width: 15% !important;
    height: 1.8rem !important;
    background-color: $primary-background-color;
    border-radius: 0.8rem;

    > .bottom-bar-page-ball {
      width: $carousel-page-ball-button;
      height: $carousel-page-ball-button;
      border-radius: 50%;
      border: 0.1rem solid #212121;
      margin: 0 calc($carousel-page-ball-button / 5);
    }
  }
}
