.home-page-shell {
  @include custom-layout-shell;
  > .home-page-container {
    @include custom-layout-content(column, 50%);
    background-color: rgb(42, 246, 246);

    > .home-page-test-shell {
    }

    > .limited-time-offer {
      width: 100%;
      height: 40vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow: hidden;
      margin: 1rem 0;
    }
  }
}
