<div class="footer-style">
  <div class="footer-style-left">
    <ul>
      <li><h4>聯絡資訊</h4></li>
      <li>
        <mat-icon fontIcon="call"></mat-icon>
        電話Tel:(02)2999-0707
      </li>
      <li><mat-icon fontIcon="fax"></mat-icon>傳真Fax:(02)2999-1755</li>
      <li>
        <mat-icon fontIcon="home"></mat-icon>地址Add:新北市新莊區福壽街164巷
      </li>
      <li>
        <mat-icon fontIcon="mail"></mat-icon>信箱Email:Gxunmail&#64;yahoo.com.tw
      </li>
    </ul>
  </div>
  <div class="footer-style-right">
    <ul>
      <li><h4>社群</h4></li>
      <li style="display: flex">
        <div class="image facebook"></div>
        <div class="image facebook-messenger"></div>
      </li>
    </ul>
  </div>
</div>
