<div
  class="latest-news-shell tw-w-[100vw] tw-flex tw-flex-col tw-justify-center tw-items-center"
>
  <app-card-type-with-charts
    [chartSize]="chartsConfig['byEndUser'].size"
    [title]="chartsConfig['byEndUser'].title"
    [chartOption]="option"
    [chartDescription]="chartsConfig['byEndUser'].description"
  ></app-card-type-with-charts>

  <app-card-type-with-charts
    [chartSize]="chartsConfig['globalCCTVShare'].size"
    [title]="chartsConfig['globalCCTVShare'].title"
    [chartOption]="option2"
    [chartDescription]="chartsConfig['globalCCTVShare'].description"
  ></app-card-type-with-charts>
</div>
