<div class="login-page-shell">
  <!-- LOGIN -->
  <div class="login-form-shell">
    <div class="login-form-image item"></div>
    <div class="login-form-input item">
      <h1>
        {{ loginPageType === LoginPageType.LOGIN ? "LOGIN" : "REGISTER" }}
      </h1>
      <form>
        <!-- account -->
        <div class="page-element">
          <!-- <span>Username：</span> -->
          <mat-form-field
            appearance="outline"
            [color]="
              loginPageType === LoginPageType.LOGIN ? 'primary' : 'accent'
            "
          >
            <mat-label
              >Please
              {{ loginPageType === LoginPageType.LOGIN ? "enter" : "build" }}
              your Account</mat-label
            >
            <input
              type="text"
              matInput
              placeholder="account"
              #accountInput
              formControlName="username"
            />
          </mat-form-field>
        </div>

        <!-- password -->
        <div class="page-element">
          <!-- <span>Password：</span> -->
          <mat-form-field
            appearance="outline"
            [color]="
              loginPageType === LoginPageType.LOGIN ? 'primary' : 'accent'
            "
          >
            <mat-label
              >Please
              {{ loginPageType === LoginPageType.LOGIN ? "enter" : "build" }}
              your password</mat-label
            >
            <input matInput placeholder="password" formControlName="password" />
          </mat-form-field>
        </div>

        <!-- reconfirm password -->
        <div
          class="page-element"
          *ngIf="loginPageType === LoginPageType.REGISTER"
        >
          <!-- Only sign up -->
          <mat-form-field
            appearance="outline"
            [color]="
              loginPageType === LoginPageType.LOGIN ? 'primary' : 'accent'
            "
          >
            <mat-label>Please confirm your password</mat-label>
            <input
              matInput
              placeholder="password"
              [type]="isPasswordHide ? 'password' : 'text'"
              formControlName="confirmPassword"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="isPasswordHide = !isPasswordHide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="isPasswordHide"
            >
              <mat-icon>{{
                isPasswordHide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="page-element">
          <button class="element-button-box">{{ buttonText }}</button>
        </div>
        <div class="page-element">
          <span class="sign-up"
            >{{
              loginPageType === LoginPageType.LOGIN
                ? loginPageHint["login"][0]
                : loginPageHint["register"][0]
            }}
            <a
              ><span (click)="toggleLoginType()" class="login-toggle">{{
                loginPageType === LoginPageType.LOGIN
                  ? loginPageHint["login"][1]
                  : loginPageHint["register"][1]
              }}</span></a
            ></span
          >
        </div>
      </form>
    </div>
  </div>
</div>
