<div class="home-page-shell">
  <div class="home-page-container">
    <app-carousel
      [imageArrays]="imagesSrc"
      class="home-page-test-shell"
    ></app-carousel>
    <!-- 最新消息 -->
    <div class="block-title">{{ PageName["latest-news"] }}</div>
    <div class="news-shell">
      <mat-accordion *ngFor="let item of matAccordionData; let i = index">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ item.panelTitle }}</mat-panel-title>
            <mat-panel-description>{{
              item.panelDescription
            }}</mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{ item.content }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!-- 熱銷產品 -->
    <div class="block-title">{{ PageName["technical-support"] }}</div>
    <app-card class="limited-time-offer" [matCardData]="matCardData"></app-card>
  </div>
</div>
