/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//Border
$primary-border: #282828;

//Color
$primary-color: #1e90ff;
$secondary-color: #f5f5f5;

// $link-text-color: #324aff;
$link-text-hover-color: #324aff;

//Button Color
$primary-button-color: #ffa500;
$secondary-button-color: #5f9ea0;

//Background Color
$primary-background-color: rgb(245 245 245 / 80%);
$secondary-background-color: #f0f0f0;

$component-basic-height: 1vh;

//Login Page
$login-page-border-radius: 25px;
$login-page-heigth: 6vh;
$login-page-border: 0.1em;
$login-form-shell: 72vh;

//header Page
$header-font-size: 1.2rem;

//font-size
$font-size-large: 4rem;
$font-size-big: 3rem;
$font-size-standard: 1.2rem;

// button-list
$carousel-page-ball-button: 1rem;

@mixin custom-margin($header, $footer) {
  margin-bottom: $header;
  margin-top: $footer;
}
//main-page
@mixin custom-layout-shell {
  width: 85vw;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  // padding: calc($component-basic-height * 3);
}

@mixin custom-layout-content($flexType, $height) {
  width: 100%;
  height: $height;
  display: flex;
  flex-direction: $flexType;
  justify-content: center;
  align-items: center;
}

@mixin custom-button($color, $border-radius) {
  width: 50vh;
  height: calc(($login-form-shell) / 14);
  font-size: $header-font-size;
  border: none;
  background-color: $color;
  border-radius: $border-radius;
}

@mixin horizontally-vertically-center {
  width: 100%;
  height: inherit;
  background-color: #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin block-title {
  width: 15vw;
  height: auto;
  padding: 0.5em 0;
  margin: 0.5em 0;

  background: $primary-background-color;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }
}

@import "assets/scss/breadcrumb.scss";
@import "assets/scss/header.scss";
@import "assets/scss/footer.scss";
@import "assets/scss/login.scss";
@import "assets/scss/error-page.scss";
@import "assets/scss/home.scss";
@import "assets/scss/carousel.scss";
@import "assets/scss/card.scss";
