/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//Color
$primary-color: #1e90ff;
$secondary-color: #f5f5f5;
//Button Color
$primary-button-color: #ffa500;
$secondary-button-color: #5f9ea0;
//Background Color
$primary-background-color: #ffffff;
$secondary-background-color: #f0f0f0;

@import "assets/scss/breadcrumb.scss";
@import "assets/scss/header.scss";
@import "assets/scss/login.scss";
